{% extends "templates/base.jinja2" %}

{% block content %}

	{% for obj in list_post %}
		<article class="list-post col-md-12">
			<time>{{ obj.date }}</time>
			<a href="/list-post/{{ obj.slug }}">
				<h3>{{ obj.title }}</h3>
			</a>
			<p><strong>Author: </strong>{{ obj.author }}</p>
			<div>
				{{ obj.content }}
			</div>
		</article>
	{% endfor %}

	{% include "templates/pagination.jinja2" %}

{% endblock %}